.title-screen {
  background: var(--purple);
}

.title-card-wrapper {
  /* border: 2px solid blue; */
  /* position: absolute;
  inset: 0; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
